<nav class="footer navbar navbar-expand-lg w-100">
  <a class="navbar-brand" href="/">Sports Hub</a>

  <div class="container d-block">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="footer-pills">
      <li>Copyright 2019 Sports Hub</li></br>
      <li>Privacy / Terms</li>
    </ul>
  </div>
</nav>