<% @categories = Category.all %>

<div data-component="sidebar">
  <div class="sidebar">
    <ul class="list-group flex-column d-inline-block first-menu">
        <li class="list-group-item pl-3 py-2">
        <a href="/" class="">
          <i class="fa fa-user-o" aria-hidden="true">
            <span class="ml-2 align-middle">Home</span>
          </i>
        </a>
      </li>
      <% @categories.includes(:subcategories).each do |category| %>
        <li class="list-group-item pl-3 py-2">
          <i>
            <!--<span class="ml-2 align-middle"><%#= link_to category.name, category_path(category), remote: true %></span>-->
            <span class="ml-2 align-middle"><%= link_to category.name, category_path(category) %></span>
            <ul class="list-group flex-column d-inline-block submenu">
              <% category.subcategories.each do |subcategory| %>
                <li class="list-group-item pl-4">
                  <%= link_to subcategory.name, ('/categories/')+subcategory.category_id.to_s+'/subcategories/'+subcategory.id.to_s %>
                </li>
              <% end %>
            </ul>
          </i>
        </li>
      <% end %>
    </ul>
  </div>
</div>