<div class="alert alert-success alert-dismissible fade show" role="success" id="real-notification" data-notification='real-notification'>
  <strong id="title">Alert!</strong>
  <span id="message">This is new message</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>