/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require notification
 */

html {
  background: white;
}
.main {
  padding-top: 50px;
}
.main-body {
  margin-bottom: 100px;
  padding-bottom: 50px;
}

.header {
  &.navbar {
    .navbar-link {
      text-decoration: none;
      &.login-btn {
        width: 107px;
      }
    }
    .profile-drop-menu {
      a {
        padding: 11px 76px 11px 25px;
      }
    }
    .lang-drop-menu {
      min-width: unset;
    }
  }
}

.cover_picture img{
  max-width: 800px;
}

.UpdateLocale {
  display: none;
}

#real-notification {
  z-index: 99;
  display: block;
}
